{% load static i18n custom_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}Orochi{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="Davide Arcuri, Andrea Garavaglia and contributors" />

  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon.ico' %}" />
  {% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/wunderbaum/wunderbaum.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome/all.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/keyrune/keyrune.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/dataTables.bootstrap5.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/dataTables.checkboxes.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/toast/toast.min.css'%}" />
  <link rel="stylesheet" type="text/css" href="{% static 'file_form/file_form.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/jsoneditor/jsoneditor.css' %}">
  {% endblock %}
</head>

<body>
  <div class="container-fluid pb-3">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-around py-3 mb-4 border-bottom">

      {% if main_page %}
      <a class="nav-link link-body-emphasis" data-bs-toggle="offcanvas" data-bs-target="#sidemenu" aria-controls="sidemenu">
        <i class="fas fa-xl fa-gamepad bi d-block mx-auto mb-1"></i>{% trans "Main" %}
      </a>
      {% endif %}

      <div class="ms-5">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
          <span id="logo"><span id="first-letter">O</span>rochi</span>
        </a>
      </div>

      {% if request.user.is_authenticated %}

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

        {% if not request.user|has_group:"ReadOnly" %}
        <li>
          <a href="{% url 'users:plugins' username=request.user.username %}" class="nav-link link-body-emphasis">
            <i class="fa fa-xl fa-dice-d20 bi d-block mx-auto mb-1"></i>{% trans "Plugins"%}
          </a>
        </li>
        {% endif %}

        {% if not request.user|has_group:"ReadOnly" %}
        <li>
          <a href="{% url 'website:list_symbols' %}" class="nav-link link-body-emphasis">
            <i class="fas fa-xl fa-dollar-sign bi d-block mx-auto mb-1"></i>{% trans "Symbols"%}
          </a>
        </li>
        {% endif %}

        {% if not request.user|has_group:"ReadOnly" %}
        <li>
          <a href="{% url 'users:rules' username=request.user.username %}" class="nav-link link-body-emphasis">
            <i class="fas fa-xl fa-ruler bi d-block mx-auto mb-1"></i>{% trans "Rules"%}
          </a>
        </li>
        {% endif %}

        <div class="dropdown me-2 mt-2">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-xl fa-fire-alt bi d-block mx-auto mb-1"></i>{% trans "Bookmarks"%}
          </a>
          <ul class="dropdown-menu text-small">
            <li>
              <a class="dropdown-item" href="{% url 'users:bookmarks' username=request.user.username %}">
                <i class="fa fa-fire-alt"></i> {% trans "Bookmarks"%}
              </a>
            </li>
            {% if bookmarks %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% for bookmark in bookmarks%}
            <li>
              <a class="dropdown-item"
                href="{% url 'website:bookmarks' indexes=bookmark.indexes_list plugin=bookmark.plugin query=bookmark.query %}">
                <i class="ss {{bookmark.icon}} ss-fw ss-foil ss-grad"></i>{{bookmark.name}}
              </a>
            </li>
            {% endfor %}
            {% endif %}
          </ul>
        </div>

        <div class="dropdown me-2 mt-2">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-xl fa-dragon bi d-block mx-auto mb-1"></i>{{request.user}}
          </a>
          <ul class="dropdown-menu text-small">
            {% if request.user.is_staff %}
            <li>
              <a href="{% url 'admin:index' %}" class="dropdown-item" target="_blank">
                <i class="fa fa-crown"></i> {% trans "Admin"%}
              </a>
            </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="#" id="about">
                <i class="fa fa-people-pulling"></i> {% trans "About" %}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#" id="changelog">
                <i class="fa fa-scroll"></i> {% trans "Changelog" %}
              </a>
            </li>
            <li>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="autorefresh">
                <label class="form-check-label" for="autorefresh"> Auto-Refresh
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% url 'account_email' as email_url %}
            {% if email_url %}
            <li>
              <a class="dropdown-item" href="{{ email_url }}">
                <i class="fas fa-envelope-circle-check"></i> {% trans "Change Email" %}
              </a>
            </li>
            {% endif %}

            {% url 'account_change_password' as change_password_url %}
            {% if change_password_url %}
            <li>
              <a class="dropdown-item" href="{{ change_password_url }}">
                <i class="fas fa-key"></i> {% trans "Change Password" %}
              </a>
            </li>
            {% endif %}

            {% url 'mfa_index' as mfa_url %}
            {% if mfa_url %}
            <li>
              <a class="dropdown-item" href="{{ mfa_url }}">
                <i class="fas fa-user-shield"></i> {% trans "Two-Factor Authentication" %}
              </a>
            </li>
            {% endif %}

            {% url 'usersessions_list' as usersessions_list_url %}
            {% if usersessions_list_url %}
            <li>
              <a class="dropdown-item" href="{{ usersessions_list_url }}">
                <i class="fas fa-skull"></i> {% trans "Sessions" %}
              </a>
            </li>
            {% endif %}

            <a class="dropdown-item" href="{% url 'account_logout' %}">
              <i class="fas fa-skull"></i> {% trans "Sign Out" %}
            </a>
            </li>
          </ul>
        </div>
      </ul>
      <div class="btn-group-vertical">
        <button class="btn btn-outline-warning btn-sm" style="text-align: left;" type="button"
          data-bs-toggle="offcanvas" id="toggle_note" data-bs-target="#leftNote">
          <i class="fas fa-sticky-note"></i> History Log
        </button>
        <button class="btn btn-outline-secondary btn-sm" style="text-align: left;" type="button" data-toggle="tooltip"
          data-placement="top" title="tasks running" disabled>
          <span role="status" id="tasks_running">0</span> Running Tasks
        </button>
      </div>
      {% endif %}
    </header>

    {% block fullpage %}
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidemenu" aria-labelledby="sidemenuLabel">
      {% block sidebar %}{% endblock sidebar %}
    </div>
    <div class="container-fluid bg-body-tertiary border">
      {% block content %}{% endblock content %}
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="leftNote" aria-labelledby="leftNoteLabel">

      {% block offcanvas %} {% endblock offcanvas %}
    </div>

  </div>
  {% endblock fullpage %}

  {% block modal %}
  {% endblock modal %}

  {% block javascript %}
  <script defer src="{% static 'js/handlebars/handlebars.runtime.js' %}" type="text/javascript"
    language="javascript"></script>
  <script defer src="{% static 'js/handlebars/plugins.js' %}" type="text/javascript" language="javascript"></script>
  <script defer src="{% static 'js/handlebars/maxmind.js' %}" type="text/javascript" language="javascript"></script>
  <script defer src="{% static 'js/handlebars/vt.js' %}" type="text/javascript" language="javascript"></script>
  <script defer src="{% static 'js/handlebars/dump.js' %}" type="text/javascript" language="javascript"></script>
  <script defer src="{% static 'js/handlebars/dump_folder.js' %}" type="text/javascript" language="javascript"></script>
  <script defer src="{% static 'js/fontawesome/all.min.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/jquery-3.5.1.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}" type="text/javascript"
    language="javascript"></script>
  <script src="{% static 'js/datatables/dataTables.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/wunderbaum/wunderbaum.umd.min.js' %}" type="text/javascript"
    language="javascript"></script>
  <script src="{% static 'js/datatables/dataTables.bootstrap5.js' %}" type="text/javascript"
    language="javascript"></script>
  <script src="{% static 'js/datatables/dataTables.checkboxes.min.js' %}" type="text/javascript"
    language="javascript"></script>
  <script src="{% static 'js/bootbox/bootbox.min.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/toast/toast.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/jscolor/jscolor.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/marked/marked.min.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/jsoneditor/jsoneditor.min.js' %}"></script>
  <script type="text/javascript">

    $(document).ready(function () {

      // TOOLTIP
      $('[data-toggle="tooltip"]').tooltip()

      // PICK AUTOREFRESH FROM LOCAL STORAGE
      var autorefresh = localStorage.getItem("autorefresh");
      if (autorefresh == true || autorefresh == "true") {
        $("#autorefresh").prop('checked', true);
      }

      // CHANGE CHECKBOX SETS VALUE
      $(document).on("change", "#autorefresh", function () {
        localStorage.setItem("autorefresh", $("#autorefresh").prop("checked"))
      });

      // CHANGELOG
      $(document).on("click", "#changelog", function () {
        $.get("{% url 'api:changelog' %}")
          .done(function (data) {
            bootbox.alert({
              message: marked.parse(data.note),
              size: 'large'
            });
          });
      });

      // TASK STATUS
      setInterval(function () {
        $.ajax({
          url: "{% url 'api:dask_status' %}",
          success: function (data) {
            $("#tasks_running").html(data.running);
          },
          timeout: 2000
        });
      }, 6000);

      // ABOUT
      $(document).on("click", "#about", function () {
        bootbox.alert({
          message: "\
            <img src=\"{% static 'images/logo.png' %}\" width=\"100%\" class=\"rounded mx-auto d-block\" />\
            <p style=\"text-align:center\">\
            More info: <a href=\"https://github.com/LDO-CERT/orochi\" target=\"_blank\">Orochi</a>\
            <br>\
            <a href=\"https://github.com/garanews\" target=\"_blank\">@garanews</a> - <a href=\"https://github.com/dadokkio\" target=\"_blank\">@dadokkio</a>\
            </p>",
          size: 'large'
        });
      });
    });
  </script>
  {% endblock javascript %}
</body>

</html>
