{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <!--<meta http-equiv="x-ua-compatible" content="ie=edge">-->
  <title>{% block title %}Orochi{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <![endif]-->

  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon.ico' %}" />
  {% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/jstree_style.min.css' %}" />
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/toast.min.css'%}" />
  <link rel="stylesheet" type="text/css" href="{% static 'file_form/file_form.css' %}">
  {% endcompress %}
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-dark sticky-top navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="{% url 'website:home' %}">
      <span id="logo"><span id="first-letter">O</span>rochi</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if request.user.is_authenticated %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-link" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{request.user}}
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if user.is_staff %}
              <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'users:detail' username=request.user.username %}">
              {% trans "Plugins"%}
            </a>
            <a class="dropdown-item" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
            <a class="dropdown-item" href="#" id="changelog">{% trans "Changelog" %}</a>
          </div>

        </li>
      </ul>
      {% else %}
      <a id="log-in-link" class="nav-link navbar-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
      {% endif %}
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      {% block sidebar %} {% endblock %}
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" id="role_mail">
        {% block content %} {% endblock content %}
      </main>
    </div>
  </div>

  {% block modal %}
  {% endblock modal %}

  {% block javascript %}
  <script defer src="{% static 'js/fa_all.js' %}" type="text/javascript" language="javascript"></script>
  <script defer src="{% static 'js/v4-shims.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/jquery-3.5.1.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/popper.min.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/jstree.min.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/dataTables.bootstrap4.min.js' %}" type="text/javascript" language="javascript"></script>
  <script src="{% static 'js/bootbox.min.js' %}" type="text/javascript" language="javascript"></script>

  <script type="text/javascript" src="{% static 'js/jstreetable.js' %}"></script>
  <script type=" text/javascript" src="{% static 'js/toast.min.js' %}"></script>
  <script type="text/javascript">

    $(document).ready(function () {

      // CHANGELOG
      $(document).on("click", "#changelog", function () {
        $.get("{% url 'website:changelog' %}")
          .done(function (data) {
            bootbox.alert({
              message: data.note,
              size: 'large'
            });
          });
      });
    });
  </script>
  {% endblock javascript %}
</body>

</html>