# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    directory: "/requirements/" # Location of package manifests
    schedule:
      interval: "daily"
    open-pull-requests-limit: 100
    target-branch: "new"
    # Add assignees
    assignees:
      - "garanews"
      - "dadokkio"
    labels:
      - "dependencies"  
      
  # Enable version updates for Docker
  - package-ecosystem: "docker"
    # Look for a `Dockerfile` in the `root` directory not working, wait for https://github.com/dependabot/dependabot-core/pull/1862
    directory: "/compose/local/postgres/"
    # Check for updates once a week
    schedule:
      interval: "daily"
    open-pull-requests-limit: 100
    target-branch: "new"
    # Add assignees
    assignees:
      - "garanews"
      - "dadokkio"
    labels:
      - "dependencies"     
 
   # Enable version updates for Docker
  - package-ecosystem: "docker"
    # Look for a `Dockerfile` in the `root` directory not working, wait for https://github.com/dependabot/dependabot-core/pull/1862
    directory: "/compose/local/dask/"
    # Check for updates once a week
    schedule:
      interval: "daily"
    open-pull-requests-limit: 100
    target-branch: "new"
    # Add assignees
    assignees:
      - "garanews"
      - "dadokkio"
    labels:
      - "dependencies"   
      
  # Enable version updates for Docker
  - package-ecosystem: "docker"
    # Look for a `Dockerfile` in the `root` directory not working, wait for https://github.com/dependabot/dependabot-core/pull/1862
    directory: "/compose/local/django/"
    # Check for updates once a week
    schedule:
      interval: "daily"
    open-pull-requests-limit: 100
    target-branch: "new"
    # Add assignees
    assignees:
      - "garanews"
      - "dadokkio"
    labels:
      - "dependencies"   
