{% load allauth %}
{% if attrs.type == "checkbox" or attrs.type == "radio" %}
    <div class="flex items-center mb-3">
        <input {% if attrs.required %}required{% endif %}
               name="{{ attrs.name }}"
               class="w-4 h-4 text-zinc-500 dark:text-zinc-400 bg-zinc-50 border border-zinc-200 dark:bg-zinc-700 dark:border-zinc-600 border-zinc-300 dark:border-zinc-600 focus:ring-zinc-500 focus:ring-2"
               id="{{ attrs.id }}"
               {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
               {% if attrs.disabled %}disabled{% endif %}
               type="{{ attrs.type }}">
        <label class="ms-2 text-sm font-medium text-zinc-600 dark:text-zinc-300" for="{{ attrs.id }}">
            {% slot label %}
            {% endslot %}
        </label>
        {% if slots.help_text %}
            <div class="ms-2 text-sm text-zinc-500">
                {% slot help_text %}
                {% endslot %}
            </div>
        {% endif %}
    </div>
{% elif attrs.type == "textarea" %}
    <div class="mb-3">
        <label class="" for="{{ attrs.id }}">
            {% slot label %}
            {% endslot %}
        </label>
        <textarea {% if attrs.required %}required{% endif %}
                  {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
                  class="bg-zinc-100 dark:bg-zinc-600 border border-zinc-400 dark:border-zinc-500 text-zinc-900 dark:text-white text-sm rounded-lg focus:ring-zinc-600 dark:focus:ring-zinc-400 focus:border-zinc-400 block w-full p-2.5"
                  name="{{ attrs.name }}"
                  {% if attrs.readonly %}readonly{% endif %}
                  id="{{ attrs.id }}"
                  {% if attrs.disabled %}disabled{% endif %}>{% slot value %}{% endslot %}</textarea>
    </div>
{% elif attrs.type == "hidden" %}
    <input {% if attrs.required %}required{% endif %}
           name="{{ attrs.name }}"
           id="{{ attrs.id }}"
           {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
           type="hidden">
{% else %}
    <div class="{% if attrs.unlabeled %}form-floating{% endif %} mb-3">
        {% if not attrs.unlabeled %}
            <label class="" for="{{ attrs.id }}">
                {% slot label %}
                {% endslot %}
            </label>
        {% endif %}
        <input {% if attrs.required %}required{% endif %}
               name="{{ attrs.name }}"
               {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}" {% elif attrs.unlabeled %}placeholder="{% slot label %}{% endslot %}"{% endif %}
               class="{% if attrs.errors %}is-invalid{% endif %} form-control rounded-3"
               id="{{ attrs.id }}"
               {% if attrs.readonly %}readonly{% endif %}
               {% if attrs.disabled %}disabled{% endif %}
               {% if attrs.tabindex %}tabindex="{{ attrs.tabindex }}"{% endif %}
               {% if attrs.style %}style="{{ attrs.style }}"{% endif %}
               {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
               {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
               type="{{ attrs.type }}">
        {% if attrs.unlabeled %}
            <label class="" for="{{ attrs.id }}">
                {% slot label %}
                {% endslot %}
            </label>
        {% endif %}
        {% if slots.help_text %}
            <div class="form-text">
                {% slot help_text %}
                {% endslot %}
            </div>
        {% endif %}
        {% if attrs.errors %}
            {% for error in attrs.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
        {% endif %}
    </div>
{% endif %}
