/********************************************************
  OROCHI MAIN LOGO
********************************************************/

@font-face {
  font-family: "Harukaze";
  src: url("../fonts/Harukaze.ttf") format("truetype");
}

#logo {
  font-family: "Harukaze";
  font-size: 110px;
  vertical-align: middle;
  margin-left: 10px;
  line-height: 0.4;
  margin-top: 10px;
}

#first-letter {
  color: rgb(129, 9, 9);
}

a.navbar-brand {
  line-height: 0.7;
  padding-bottom: 0px;
}

/********************************************************
  MOVE DOWN FROM TITLE [OVVERRIDE DASHBOARD]
********************************************************/

.sidebar {
  padding: 88px 0 0; /* Height of navbar */
}

main {
  padding-top: 20px;
}

/********************************************************
  COLOR FOR CHECKBOXES
********************************************************/

.check_container,
.radio_container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 6px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
}
.nav-item {
  line-height: 1.2;
}

.nav {
  margin-bottom: 1rem;
}

/* Hide the browser's default checkbox */
.check_container input,
.radio_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 15px;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check_container:hover input ~ .checkmark,
.radio_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_container input:checked ~ .checkmark,
.radio_container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after,
.radio_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check_container .checkmark:after,
.radio_container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/********************************************************
  DUMP MENU ICONS
********************************************************/

.download-index{
  color:#440b5d;
}

.error-index:hover,
.download-index:hover,
.restart-index:hover,
.remove-index:hover,
.hex-index:hover,
.info-index:hover,
.edit-index:hover,
.open-index:hover,
.symbols-index:hover {
  background-color: transparent;
  color: black;
}

.error-index,
.download-index,
.restart-index,
.remove-index,
.hex-index,
.info-index,
.edit-index,
.open-index,
.symbols-index {
  border: 0px;
}

.btn-sm.error-index:hover,
.btn-sm.download-index:hover,
.btn-sm.restart-index:hover,
.btn-sm.remove-index:hover,
.btn-sm.hex-index:hover,
.btn-sm.info-index:hover,
.btn-sm.edit-index:hover,
.btn-sm.symbols-index:hover {
  padding: 0 0.2rem;
  margin-right: 4px;
  line-height: 1;
  background-color: transparent;
  color: black;
}

.btn-sm.error-index,
.btn-sm.download-index,
.btn-sm.restart-index,
.btn-sm.remove-index,
.btn-sm.hex-index,
.btn-sm.info-index,
.btn-sm.edit-index,
.btn-sm.symbols-index {
  padding: 0 0.2rem;
  margin-right: 4px;
  line-height: 1;
  float: right;
  border: 0px;
}

/********************************************************
  OROCHI LOGO
********************************************************/

.dragon {
  padding-left: 10%;
  padding-top: 10px;
}


/********************************************************
  TABLE
********************************************************/

.table-responsive {
  overflow-x: hidden;
}

/********************************************************
  JSTREE
********************************************************/

.jstree-table-wrapper.demo {
  line-height: 1.75;
}

/********************************************************
  MAKE SVG ON BUTTON FIRE CLICK
********************************************************/
.svg-inline--fa {
  pointer-events: none;
}

/********************************************************
  ALERT ERROR AS DANGER
********************************************************/
.alert-error {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

/********************************************************
  SMALLER TEXT IN DIALOG INFO
********************************************************/
.small-dlg{
  font-size: small;
}

/********************************************************
  SINGLE CHAR PADDING FOR HEX VIEW
********************************************************/
.singlechar{
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
  width: 10px;
}

/********************************************************
  ADDITIONAL DATATABLES BUTTONS
********************************************************/
.goto input, .next input{
  display: inline-block;
  width: auto;
  margin-left: 0.5em;
}
.goto label, .next label{
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}
.goto, div.next, .dataTables_length{
  float: left;
  margin-left: 50px;
}
