{% load custom_tags %}

<h1 class="h4">
    {{plugin}}
    <button class="btn btn-sm btn-primary" id="bookmark">
        <i class="fas fa-piggy-bank"></i> Bookmark
    </button>
    <button class="btn btn-sm btn-success" id="diff-dump" target="_blank" data-plugin="{{plugin}}" disabled>
        <i class="fas fa-code-compare" title="Rerun"></i> Compare
    </button>
    {% if not request.user|has_group:"ReadOnly" %}
    <button type="button" class="btn btn-sm btn-warning" id="btn-resubmit" data-plugin="{{plugin}}" disabled>
        <i class="fas fa-sync" title="Rerun"></i> Rerun
    </button>
    {% endif %}
    {% if bodyfile %}
    <a href="#" class="download_obj btn btn-primary btn-sm" data-path="{{bodyfile}}" title="Bodyfile">
        <i class="fas fa-file-download"></i> BodyFile
    </a>
    {% endif %}
</h1>
<div id="selected_alert" class="row row-cols-auto gy-2">
    {% for item in note %}
    <div class="col">
        <button type="button" class="btn btn-outline-dark list-dump text-start" data-bs-toggle="button"
            data-index="{{item.index}}" data-name="{{item.dump_name}}">
            {{item.color | safe}}
            {% if item.os == 'Linux' %}
            <i class="fab fa-linux me-1"></i>
            {% elif item.os == 'Windows' %}
            <i class="fab fa-windows me-1"></i>
            {% elif item.os == 'Mac' %}
            <i class="fab fa-apple me-1"></i>
            {% else %}
            <i class="fas fa-robot me-1"></i>
            {% endif %}
            <span style="width: 90px; display: inline-block;">{{item.dump_name|truncatechars:10}}</span>

            <span style="width: 85px; display: inline-block;" class="badge
            {% if item.result == 'Not Started' %}
            text-bg-light
            {% elif item.result == 'Empty' %}
            text-bg-success
            {% elif item.result == 'Success' %}
            text-bg-success
            {% elif item.result == 'Running' %}
            text-bg-info
            {% elif item.result == 'Unsatisfied' %}
            text-bg-warning
            {% elif item.result == 'Error' %}
            text-bg-danger
            {% elif item.result == 'Disabled' %}
            text-bg-dark
            {% endif%}

            {% if item.description %}
             btn-log" data-log="{{item.description}}">{{item.result}} <i class="fas fa-indent" title="Log"></i>
                {% else %}
                ">{{item.result}}
                {% endif %}
            </span>
        </button>
    </div>
    {% endfor %}
</div>
<hr>
