{% load custom_tags %}
{% include "website/partial_note.html" %}

{% if not empty %}
<div id="data" class="demo" style='width:100%'></div>
<script>
    var tree = $('#data').jstree({
        'plugins': ["table", "sort"],
        'core': {
            'data': {{ data | safe }},
            'themes': { 'name': 'default' }
        },
        'table': {
            'columns': {{ columns | safe }},
            'resizable': true,
        }
    });
    tree.bind("loaded.jstree", function (event, data) {
        tree.jstree("open_all");
    });
</script>
{% else %}
<div id="data" class="demo" style='width:100%'>
    <div class="alert alert-primary" role="alert">
        No data to display!
    </div>
</div>
{% endif %}
