{% load custom_tags %}

<h1 class="h2">Selected items:
    {% if note|length == 2 and note.0.result == 'Success' and note.1.result == 'Success' %}
    <a class="btn btn-sm btn-success" href="{% url 'website:diff_view' note.0.index note.1.index note.0.plugin %}"
        target="_blank">
        DIFF
    </a>
    {% endif %}
</h1>
<div id="selected_alert">
    <ul class="list-group" id="alert_ul">
        {% for item in note %}
        <li class="list-group-item d-flex flex-row bd-callout bd-callout-{{item.result}}">
            <span class="p-2">
                {{item.color | safe}}
            </span>
            <span class="p-2"><b>{{item.dump_name}}: {{item.plugin}}</b></span>
            <span class="ml-auto p-2">
                <div class="btn-group" role="group">
                    {% if item.description and item.result != 'Running' %}
                    <button type="button" class="btn btn-sm btn-outline-danger btn-log" data-log="{{item.description}}">
                        <i class="fas fa-indent" title="Log"></i>
                    </button>
                    {% endif %}
                    <button type="button" class="btn btn-sm btn-outline-warning btn-resubmit"
                        data-name="{{item.dump_name}}" data-index="{{item.index}}" data-plugin="{{item.plugin}}">
                        <i class="fas fa-sync" title="Rerun"></i>
                    </button>
                </div>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
<hr>
