{% load widget_tweaks %}
{% load custom_tags %}

<form method="post" action="{% url 'website:plugin' %}" id="rerun-plugin">
    {{ form.media }}
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Rerun plugin with parameters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% for field in form.visible_fields %}
        {% if field|is_checkbox %}
        <div class="form-group form-check{% if field.errors %} has-error{% endif %}">
            {% render_field field class="form-check-input" %}
            <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        {% else %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.help_text %}<p class="text-info">{{ field.help_text }}</p>{% endif %}
            {% render_field field class="form-control" %}
            {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Rerun Plugin</button>
    </div>
</form>