{% if cases %}
<ul class="space-y-1" id="case-list">
    {% for case in cases %}
    <li class="group">
        <a href="{% url 'website:case_detail' case.pk %}" class="flex items-center justify-between py-1 px-2 rounded-lg hover:bg-zinc-100 dark:hover:bg-zinc-600 transition-colors border border-transparent hover:border-zinc-400 dark:hover:border-zinc-500 group w-full"
           hx-get="{% url 'website:case_detail' case.pk %}"
           hx-push-url="true"
           hx-target="#main_stage"
           hx-swap="outerHTML">

            <div class="flex items-center flex-1 min-w-0 cursor-pointer m-0">
                <div class="flex items-center text-purple-600 dark:text-purple-400 mr-2 shrink-0">
                    <i class="fa-solid fa-briefcase"></i>
                </div>
                <abbr title="{{case.name}}" class="text-sm font-medium text-zinc-800 dark:text-zinc-200 group-hover:text-zinc-900 dark:hover:text-white transition-colors truncate no-underline block w-full max-w-[150px]">
                    {{case.name|truncatechars:35}}
                </abbr>
            </div>

            {% if case.status == "Open" %}
            <span class="bg-green-100 text-green-800 text-[10px] font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Open</span>
            {% else %}
            <span class="bg-zinc-100 text-zinc-800 text-[10px] font-medium me-2 px-2.5 py-0.5 rounded dark:bg-zinc-700 dark:text-zinc-300">{{case.status}}</span>
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<div class="p-4 mb-4 text-sm text-zinc-600 dark:text-zinc-300 rounded-lg bg-white dark:bg-zinc-800 border border-zinc-200 dark:border-zinc-700" role="alert">
    No cases!
</div>
{% endif %}
