{% load custom_tags %}
<div id="main_stage" class="table-responsive">
    <h1 class="h2">Selected items:
        {% if note|length == 2 and note.0.result == 'Success' and note.1.result == 'Success' %}
        <a class="btn btn-sm btn-success" href="{% url 'website:diff_view' note.0.index note.1.index note.0.plugin %}"
            target="_blank">
            DIFF
        </a>
        {% endif %}
    </h1>
    <div id="selected_alert">
        <ul class="list-group" id="alert_ul">
            {% for item in note %}
            <li class="list-group-item d-flex flex-row bd-callout bd-callout-{{item.result}}">
                <span class="p-2">
                    {{item.color | safe}}
                </span>
                <span class="p-2"><b>{{item.dump_name}}: {{item.plugin}}</b></span>
                <span class="ml-auto p-2">
                    <div class="btn-group" role="group">
                        {% if item.description and item.result != 'Running' %}
                        <button type="button" class="btn btn-sm btn-outline-danger btn-log"
                            data-log="{{item.description}}">
                            <i class="fas fa-indent" title="Log"></i>
                        </button>
                        {% endif %}
                        <button type="button" class="btn btn-sm btn-outline-warning btn-resubmit"
                            data-name="{{item.dump_name}}" data-index="{{item.index}}" data-plugin="{{item.plugin}}">
                            <i class="fas fa-sync" title="Rerun"></i>
                        </button>
                    </div>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <hr>
    {% if tree and not empty %}
    <div id="data" class="demo" style='width:100%'></div>
    <script>
        var tree = $('#data').jstree({
            'plugins': ["table", "sort"],
            'core': {
                'data': {{ data | safe }},
                'themes': {'name': 'default'}
            },
            'table': {
                'columns': {{ columns | safe}},
                'resizable': true,
            }
        });
        tree.bind("loaded.jstree", function (event, data) {
            tree.jstree("open_all");
        });
    </script>
    {% elif tree and empty %}
    <div id="data" class="demo" style='width:100%'>
        <div class="alert alert-primary" role="alert">
            No data to display!
        </div>
    </div>
    {% else %}
    {% for item in data %}
    {% if forloop.first %}
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                {% for col in item.keys %}
                {% if children or col != '__children' %}
                <th>{{col}}</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% endif %}
            <tr>
                {% for k, v in item.items %}

                {% if children or k != '__children' %}
                <td>
                    {% if 'row_color' in item.keys and k == 'Description' %}
                    <span style="color:{{item.row_color}}">{{v}}</span>
                    {% else %}
                    {% if k|in_list:'download,regipy_report,vt_report,color' %}
                    {{v|safe}}
                    {% else %}
                    {{v}}
                    {% endif %}
                    {% endif %}
                </td>
                {% endif %}
                {% endfor %}
            </tr>

            {% if forloop.last %}
        </tbody>
    </table>
    {% endif %}
    {% empty %}
    <table id='example' class='table table-striped table-bordered' style='width:100%'>
        <thead>
            <tr>
                <th>No data for selected index(es) and plugin!</th>
            </tr>
        </thead>
    </table>
    {% endfor %}
    {% endif %}
</div>