<div class="btn-group" role="group" aria-label="Actions">
    <button type="button"
            class="text-zinc-900 dark:text-white bg-zinc-500 hover:bg-zinc-100 dark:hover:bg-zinc-600 focus:ring-4 focus:outline-none focus:ring-zinc-300 dark:focus:ring-zinc-700 font-medium rounded-lg text-sm px-3 py-1.5 text-center transition-colors border border-zinc-400 inline-block btn-sm"
            title="Add to Case"
            hx-get="{% url 'website:evidence_create' %}"
            hx-vals='{"dump": "{{ dump }}", "plugin": "{{ plugin }}", "result_row": "{{ result_row }}", "extracted_file": "{{ extracted_file|default_if_none:"" }}"}'
            hx-target="#orochi-modal-content" hx-swap="innerHTML"
            onclick="document.getElementById('modal-update').classList.remove('hidden'); document.getElementById('modal-update').classList.add('flex')">
        <i class="fas fa-briefcase"></i>
    </button>
    {% if down_path %}
    <a href="#" class="download_obj text-zinc-900 dark:text-white bg-zinc-500 hover:bg-zinc-100 dark:hover:bg-zinc-600 focus:ring-4 focus:outline-none focus:ring-zinc-300 dark:focus:ring-zinc-700 font-medium rounded-lg text-sm px-3 py-1.5 text-center transition-colors border border-zinc-400 inline-block btn-sm" data-path="{{down_path}}" title="Download">
        <i class="fas fa-file-download"></i>
    </a>
    {% endif %}
    {% if misp_configured %}
    <a href="#" class="misp_export text-zinc-900 dark:text-white bg-zinc-500 hover:bg-zinc-100 dark:hover:bg-zinc-600 focus:ring-4 focus:outline-none focus:ring-zinc-300 dark:focus:ring-zinc-700 font-medium rounded-lg text-sm px-3 py-1.5 text-center transition-colors border border-zinc-400 inline-block btn-sm" data-path="{{down_path}}" title="Misp Export">
        <i class="fas fa-file-export"></i>
    </a>
    {% endif %}
    {% if regipy %}
    <a href="/json_view/{{down_path}}.regipy.json" target="_blank" class="text-zinc-900 dark:text-white bg-zinc-500 hover:bg-zinc-100 dark:hover:bg-zinc-600 focus:ring-4 focus:outline-none focus:ring-zinc-300 dark:focus:ring-zinc-700 font-medium rounded-lg text-sm px-3 py-1.5 text-center transition-colors border border-zinc-400 inline-block btn-sm" title="Regipy Report">
        <i class="fas fa-external-link-alt"></i>
    </a>
    {% endif %}
    {% if vt %}
    <a href="#" class="vt-info text-zinc-900 dark:text-white bg-zinc-500 hover:bg-zinc-100 dark:hover:bg-zinc-600 focus:ring-4 focus:outline-none focus:ring-zinc-300 dark:focus:ring-zinc-700 font-medium rounded-lg text-sm px-3 py-1.5 text-center transition-colors border border-zinc-400 inline-block btn-sm" data-path="{{down_path}}.vt.json" title="Virustotal Report">
        <i class="fas fa-virus"></i>
    </a>
    {% endif %}
</div>
