{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Sign In" %}
    {% endelement %}
    {% element p %}
        <img src="{{logo}}" class="max-w-xs mx-auto mb-4 block">
    {% endelement %}
    {% if not SOCIALACCOUNT_ONLY %}
        {% setvar link %}
            <a href="{{ signup_url }}">
        {% endsetvar %}
        {% setvar end_link %}
            </a>
        {% endsetvar %}
        {% element p %}
            {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
        {% endelement %}
        <form class="space-y-4" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {% if field.name == "remember" %}
                        <div class="flex items-center">
                            <input type="checkbox" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="w-4 h-4 text-blue-600 bg-white dark:bg-zinc-700 border-zinc-300 dark:border-zinc-600 rounded focus:ring-blue-500 focus:ring-2 cursor-pointer" {% if field.value %}checked{% endif %}>
                            <label for="{{ field.id_for_label }}" class="ml-2 text-xs font-medium text-zinc-700 dark:text-zinc-300 cursor-pointer">{{ field.label }}</label>
                        </div>
                    {% else %}
                        <input type="{% if field.field.widget.input_type %}{{ field.field.widget.input_type }}{% else %}text{% endif %}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="bg-white dark:bg-zinc-700/60 border border-zinc-300 dark:border-zinc-600 text-zinc-900 dark:text-white text-xs rounded-lg focus:ring-2 focus:ring-blue-500/20 focus:border-blue-500 block w-full p-2.5 shadow-2xs" placeholder="{{ field.label }}" {% if field.field.required %}required{% endif %}>
                    {% endif %}
                    {% if field.help_text %}
                        <div class="mt-1.5 text-xs text-zinc-500 dark:text-zinc-400 [&>a]:text-blue-600 dark:[&>a]:text-blue-400 [&>a]:hover:underline transition-colors">
                            {{ field.help_text|safe }}
                        </div>
                    {% endif %}
                    {% if field.errors %}
                        <p class="mt-1 text-xs text-rose-500">{{ field.errors.as_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            {{ redirect_field }}
            <button class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-500/20 font-semibold rounded-lg text-xs px-5 py-2.5 text-center transition-all shadow-sm cursor-pointer mt-4" type="submit">{% trans "Sign In" %}</button>
        </form>
    {% endif %}
    {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
        {% element hr %}
        {% endelement %}
        {% element button_group vertical=True %}
            {% if PASSKEY_LOGIN_ENABLED %}
                {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary" %}
                    {% trans "Sign in with a passkey" %}
                {% endelement %}
            {% endif %}
            {% if LOGIN_BY_CODE_ENABLED %}
                {% element button href=request_login_code_url tags="prominent,login,outline,primary" %}
                    {% trans "Mail me a sign-in code" %}
                {% endelement %}
            {% endif %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
