{% extends "base.html" %}
{% load static %}

{% block modal %}
<div class="modal fade" id="modal-update" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock %}

{% block fullpage %}
<div class="container py-5">
  <form>
    {% csrf_token %}
    <table class="table table-striped" id="example" style="width:100%">
      <thead>
        <tr>
          <td>Icon</td>
          <td>Name</td>
          <td>Dumps</td>
          <td>Plugin</td>
          <td>Query</td>
          <td>Star</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        {% for bookmark in user.bookmarks.all %}
        <tr>
          <td>
            <i class="ss {{bookmark.icon}} ss-fw ss-foil ss-grad ss-3x"></i>
          </td>
          <td>
            {{bookmark.name}}
          </td>
          <td>
            {{bookmark.indexes_names_list}}
          </td>
          <td>
            {{bookmark.plugin.name}}
          </td>
          <td>
            {{bookmark.query}}
          </td>
          <td>
            <button type="button" class="star-index btn btn-outline{% if bookmark.star%}-warning{% endif %}"
              data-up="{{bookmark.pk}}" data-name="{{bookmark.name}}"
              data-star="{% if bookmark.star%}true{% else %}false{% endif %}">
              <i class="fas fa-star"></i>
            </button>
          </td>
          <td>
            <a class="open-index btn btn-outline-primary"
              href="{% url 'website:bookmarks' indexes=bookmark.indexes_list plugin=bookmark.plugin query=bookmark.query %}">
              <i class=" fas fa-external-link-alt"></i>
            </a>
            <button type="button" class="edit-index btn btn-outline-success" data-up="{{bookmark.pk}}"
              data-name="{{bookmark.name}}">
              <i class=" fas fa-edit"></i>
            </button>
            <button type="button" class="remove-index btn btn-outline-danger" data-up="{{bookmark.pk}}"
              data-name="{{bookmark.name}}">
              <i class=" fas fa-trash"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</div>
{% endblock fullpage %}


{% block javascript %}
{{block.super}}
<script type="text/javascript">
  $(document).ready(function () {

    var table = $("#example").DataTable();
    var row = null;

    // EDIT INDEX FORM
    $(document).on("click", ".edit-index", function (e) {
      var btn = $(this);
      $.ajax({
        url: "{% url 'website:edit_bookmark'%}",
        data: { 'pk': btn.data('up') },
        type: 'get',
        dataType: 'json',
        beforeSend: function () {
          $("#modal-update .modal-content").html('');
          $("#modal-update").modal("show");
          row = table.row($(btn).closest('tr')).index();
        },
        success: function (data) {
          $("#modal-update .modal-content").html(data.html_form);
        }
      });
    });

    // EDIT BOOKMARK FORM SUBMIT
    $(document).on("submit", "#edit-bookmark", function (e) {
      e.preventDefault();
      var form = $(this);

      let formData = form.serializeArray();
      let obj = {};
      formData.forEach(item => {
        if (item.name != 'csrfmiddlewaretoken') {
          obj[item.name] = item.value;
        }
      });
      $.ajaxSetup({
        headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() }
      });

      $.ajax({
        url: form.attr("action"),
        data: JSON.stringify(obj),
        type: 'PATCH',
        dataType: 'json',
        success: function (data) {
          var d = table.row(row).data();
          d[0] = `<i class="ss ss-rna ${data.icon} ss-foil ss-grad ss-3x"></i>`;
          d[1] = data.name;
          d[4] = data.query;
          table.row(row).data(d).draw();
          $.toast({
            title: 'Bookmark status!',
            content: 'Bookmark updated.',
            type: 'success',
            delay: 5000
          });
          $("#modal-update").modal('hide');
        },
        error: function () {
          $.toast({
            title: 'Bookmark status!',
            content: 'Error during submission.',
            type: 'error',
            delay: 5000
          });
          $("#modal-update").modal('hide');
        }
      });
    });

    // DELETE BOOKMARK
    $(document).on("click", ".remove-index", function (e) {
      var bookmark = this;
      var bookmark_pk = $(this).data('up');

      bootbox.confirm("Are you sure??", function (result) {
        if (result === true) {

          $.ajaxSetup({
            headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() }
          });

          var url = "{% url 'api:delete_bookmark' id=123 %}".replace(/123/, bookmark_pk);
          $.ajax({
            url: url,
            method: 'delete',
            dataType: 'json',
            success: function (data) {
              $(bookmark).parent().parent().remove();
              $.toast({
                title: 'Bookmark status!',
                content: data.message,
                type: 'success',
                delay: 5000
              });
            },
            error: function (data) {
              $.toast({
                title: 'Bookmark status!',
                content: data.errors,
                type: 'error',
                delay: 5000
              });
            }
          });
        }
      });
    });

    // STAR/UNSTAR BOOKMARKS
    $(document).on("click", ".star-index", function (e) {
      var bookmark = this;
      var bookmark_name = $(this).data('name');
      var bookmark_pk = $(this).data('up');
      var bookmark_star = $(this).data('star');

      $.ajaxSetup({
        headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() }
      });

      var url = "{% url 'api:star_bookmark' id=123 star=456 %}".replace(/123/, bookmark_pk).replace(/456/, !bookmark_star);
      $.ajax({
        url: url,
        method: 'post',
        dataType: 'json',
        success: function (data) {
          $(bookmark).data("star", !bookmark_star);
          if (bookmark_star) {
            $(bookmark).removeClass('btn-outline-warning');
          } else {
            $(bookmark).addClass('btn-outline-warning');
          }
          $.toast({
            title: 'Bookmark status!',
            content: data.message,
            type: 'success',
            delay: 5000
          });
        },
        error: function (data) {
          $.toast({
            title: 'Bookmark status!',
            content: data.errors,
            type: 'error',
            delay: 5000
          });
        }
      });
    });

  });
</script>
{% endblock javascript %}
