{% extends "base.html" %}
{% load static %}

{% block modal %}
<div class="modal fade" id="modal-update" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock %}

{% block fullpage %}
<div class="container py-5">

  {% include "messages.html" %}

  <form>
    {% csrf_token %}
    <div class="card">
      <div class="card-header">
        Single rules management
        <button type="button" class="btn btn-sm btn-warning" id="build-rules">
          <i class="fas fa-cogs"></i> Build
        </button>
        <button type="button" class="btn btn-sm btn-primary" id="upload-rules">
          <i class="fa fa-upload"></i> Upload
        </button>
        <button type="button" class="btn btn-sm btn-danger" id="delete-rules">
          <i class="fa fa-trash"></i> Delete
        </button>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="all_rules" style="width:100%">
          <thead>
            <tr>
              <th></th>
              <th>Ruleset Name</th>
              <th>Rule Name</th>
              <th>Rule Text Preview</th>
              <th>Actions</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </form>

  <br />

  <form>
    {% csrf_token %}
    <div class="card">
      <div class="card-header">
        Custom built rules
        <button type="button" class="btn btn-sm btn-warning btn-action" data-action="Publish">
          <i class="fas fa-hand-holding-heart"></i> Make public
        </button>
        <button type="button" class="btn btn-sm btn-primary btn-action" data-action="Unpublish">
          <i class="fas fa-user-lock"></i> Make private
        </button>
        <button type="button" class="btn btn-sm btn-danger" id="delete-crules">
          <i class="fa fa-trash"></i> Delete
      </div>
      <div class="card-body">
        <table class="table table-striped" id="my_rules" style="width:100%">
          <thead>
            <tr>
              <th></th>
              <th>Rule</th>
              <th>Path</th>
              <th>User</th>
              <th>Public</th>
              <th>Default</th>
              <th>Download</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </form>
</div>
{% endblock fullpage %}


{% block javascript %}
{{block.super}}
<script src="{% static 'file_form/file_form.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function () {

    var dialog;

    var table = $("#all_rules").DataTable({
      "processing": true,
      "serverSide": true,
      "scrollY": 600,
      "scrollX": true,
      "orderCellsTop": true,
      "lengthMenu": [[50, 100, 250, 500, 1000], [50, 100, 250, 500, 1000]],
      "ajax": {
        "url": "{% url 'api:list_rules' %}",
        data: function (d) {
          delete d.columns;
          if (d.order.length > 0) {
            order = d.order[0];
            delete d.order;
            d.order_column = order.column;
            d.order_dir = order.dir;
          } else {
            delete d.order;
          }

          if (d.search && d.search.value) {
            search = d.search.value;
            delete d.search;
            d.search = search;
          } else {
            delete d.search;
          }
          return d;
        }
      },
      'columnDefs': [
        {
          'targets': 0,
          'checkboxes': {
            'selectRow': true
          }
        },

      ],
      'columns': [
        { 'data': 'id' },
        {
          'data': 'ruleset_name',
          render: function (data, type, row, meta) {
            return `${row.ruleset_name} <span title="${row.ruleset_description}"><i class="fas fa-circle-info"></i></span>`;
          }
        },
        { 'data': 'path_name' },
        { 'data': 'headline' },
        {
          sortable: false,
          render: function (data, type, row, meta) {
            let down = `<a href='/api/rules/${row.id}/download' type='button' class='btn btn btn-outline' target='_blank'><i class='fa fa-download'></i></a>`;
            down += `<button class='btn btn btn-outline btn-show' data-id='${row.id}'><i class='fa fa-edit'></i></button>`;
            return down;
          }
        }
      ],
      'select': {
        'style': 'multi'
      },
      'order': [[1, 'asc']]
    });

    var ruletable = $("#my_rules").DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": "{% url 'api:list_customrules' %}",
        data: function (d) {
          delete d.columns;
          if (d.order.length > 0) {
            order = d.order[0];
            delete d.order;
            d.order_column = order.column;
            d.order_dir = order.dir;
          } else {
            delete d.order;
          }

          if (d.search && d.search.value) {
            search = d.search.value;
            delete d.search;
            d.search = search;
          } else {
            delete d.search;
          }
          return d;
        }
      },
      'columnDefs': [
        {
          'targets': 0,
          'checkboxes': {
            'selectRow': true
          }
        }
      ],
      'columns': [
        { 'data': 'id' },
        { 'data': 'name' },
        { 'data': 'path' },
        { 'data': 'user' },
        { 'data': 'public' },
        {
          'data': 'default',
          sortable: false,
          render: function (data, type, row, meta) {
            if (data == true) {
              return "<button class='btn btn btn-outline-warning'><i class='fa fa-star'></i></button>";
            }
            return `<button type='button' class='btn btn btn-outline' id='star-rule' data-pk='${row.id}'><i class='fa fa-star'></i></button>`;
          },
        },
        {
          sortable: false,
          render: function (data, type, row, meta) {
            return `<a href='/api/customrules/${row.id}/download' type='button' class='btn btn btn-outline' target='_blank'><i class='fa fa-download'></i></button>`;
          }
        },

      ],
      'select': {
        'style': 'multi'
      },
      'order': [[1, 'asc']]
    });

    // DELETE RULES
    $(document).on('click', '#delete-rules', function () {
      var rows_selected = table.column(0).checkboxes.selected();
      if (rows_selected.length > 0) {
        bootbox.confirm("Delete selected rules in your ruleset?", function (result) {
          table.column(0).checkboxes.deselectAll();
          let obj = {};
          var items = [];
          rows_selected.each(function (val) { items.push(val) });
          obj['rule_ids'] = items;

          $.ajaxSetup({
            headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() }
          });

          $.ajax({
            url: "{% url 'api:delete_rules' %}",
            method: 'delete',
            data: JSON.stringify(obj),
            dataType: 'json',
            success: function (data) {
              table.ajax.reload();
              $.toast({
                title: 'Rules Deleted!',
                content: data.message,
                type: 'success',
                delay: 5000
              });
            },
            error: function (data) {
              $.toast({
                title: 'Delete Rules error!',
                content: data.errors,
                type: 'error',
                delay: 5000
              });
            }
          });
        });
      }
    });

    // BUILD RULES
    $(document).on('click', '#build-rules', function () {
      var rows_selected = table.column(0).checkboxes.selected();
      if (rows_selected.length > 0) {
        bootbox.prompt("Select name for compiled custom rule:", function (result) {
          var items = [];
          rows_selected.each(function (val) { items.push(val) });
          let obj = {
            'rule_ids': items,
            'rulename': result
          };
          $.ajaxSetup({
            headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() }
          });
          $.ajax({
            url: "{% url 'api:rule_build' %}",
            method: 'post',
            data: JSON.stringify(obj),
            dataType: 'json',
            beforeSend: function () {
              if (items.length > 50) {
                dialog = bootbox.dialog({
                  message: '<p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i> Please wait while rule is built!</p>',
                  closeButton: false
                });
              }
            },
            success: function (data) {
              table.column(0).checkboxes.deselectAll();
              ruletable.ajax.reload();
              if (items.length > 50) {
                dialog.modal('hide');
              }
              $.toast({
                title: 'Build Rule status!',
                content: data.message,
                type: 'success',
                delay: 5000
              });
            },
            error: function (data) {
              $.toast({
                title: 'Build Rule Error!',
                content: data.errors,
                type: 'error',
                delay: 5000
              });
              $("#modal-update").modal('hide');
            }
          });
        });
      }
    });

    // UPLOAD RULE FORM
    $(document).on('click', '#upload-rules', function () {
      $.ajax({
        url: "{% url 'ya:upload' %}",
        method: 'get',
        dataType: 'json',
        beforeSend: function () {
          $("#modal-update .modal-dialog").removeClass('modal-xl');
          $("#modal-update .modal-content").html('');
          $("#modal-update").modal("show");
        },
        success: function (data) {
          $("#modal-update .modal-content").html(data.html_form);
          initUploadFields(document.getElementById("edit-rule"));
        }
      });
    });

    // UPLOAD RULE FORM SUBMIT
    $(document).on("submit", "#upload-form", function (e) {
      e.preventDefault();
      var form = $(this);
      let formData = new FormData();
      const fileInput = form.find('input[type="file"]');
      const files = fileInput[0].files;
      for (let i = 0; i < files.length; i++) {
        formData.append('files', files[i]);
      }
      $.ajaxSetup({ headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() } });

      $.ajax({
        url: form.attr("action"),
        data: formData,
        type: 'POST',
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function (data) {
          $("#modal-update").modal('hide');
          table.ajax.reload();
          $.toast({
            title: 'Rules added!',
            content: data.length + " rule(s) added!",
            type: 'success',
            delay: 5000
          });
        },
        error: function (data) {
          $.toast({
            title: 'Error!',
            content: data.errors,
            type: 'error',
            delay: 5000
          });
        },
      });
    });



    // EDIT RULE FORM SUBMIT
    $(document).on("submit", "#edit-rule", function (e) {
      e.preventDefault();
      var form = $(this);

      let formData = form.serializeArray();
      let obj = {};
      formData.forEach(item => {
        if (item.name != 'csrfmiddlewaretoken') {
          obj[item.name] = item.value;
        }
      });
      $.ajaxSetup({
        headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() }
      });

      $.ajax({
        url: form.attr("action"),
        data: JSON.stringify(obj),
        type: 'PATCH',
        dataType: 'json',
        success: function (data) {
          $("#modal-update").modal('hide');
          table.ajax.reload();
          $.toast({
            title: 'Rules added!',
            content: data.message,
            type: 'success',
            delay: 5000
          });
        },
        error: function (data) {
          $.toast({
            title: 'Error!',
            content: data.errors,
            type: 'error',
            delay: 5000
          });
        },
      });
    });

    // SHOW/EDIT RULE
    $(document).on("click", '.btn-show', function (e) {
      e.preventDefault();
      var pk = $(this).data('id');
      $.ajax({
        url: "{% url 'ya:detail' %}",
        data: { 'pk': pk },
        method: 'get',
        dataType: 'json',
        success: function (data) {
          $("#modal-update .modal-dialog").addClass('modal-xl');
          $("#modal-update .modal-content").html('');
          $("#modal-update").modal("show");
          $("#modal-update .modal-content").html(data.html_form);
        },
        error: function (data) {
          $("#modal-update").modal("hide");
          $.toast({
            title: 'Error!',
            content: 'Error during rule loading.',
            type: 'error',
            delay: 5000
          });
        }
      });
    });

    // DELETE CUSTOM RULES
    $(document).on('click', '#delete-crules', function () {
      var rows_selected = ruletable.column(0).checkboxes.selected();
      if (rows_selected.length > 0) {
        bootbox.confirm("Delete selected custom rules?", function (result) {
          ruletable.column(0).checkboxes.deselectAll();
          let obj = {};
          var items = [];
          rows_selected.each(function (val) { items.push(val) });
          obj['rule_ids'] = items;

          $.ajaxSetup({
            headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() }
          });
          $.ajax({
            url: "{% url 'api:delete_customrules' %}",
            method: 'delete',
            data: JSON.stringify(obj),
            dataType: 'json',
            success: function (data) {
              ruletable.ajax.reload();
              $.toast({
                title: 'Custom Rules Deleted!',
                content: data.message,
                type: 'success',
                delay: 5000
              });
            },
            error: function (data) {
              $.toast({
                title: 'Delete Custom Rules error!',
                content: data.errors,
                type: 'error',
                delay: 5000
              });
            }
          });
        });
      }
    });

    // PUBLISH/UNPUBLISH CUSTOM RULES
    $(document).on('click', '.btn-action', function () {
      var action = $(this).data('action');
      var rows_selected = ruletable.column(0).checkboxes.selected();
      if (rows_selected.length > 0) {
        bootbox.confirm(action + " selected custom rules?", function (result) {
          ruletable.column(0).checkboxes.deselectAll();

          let obj = {};
          var items = [];
          rows_selected.each(function (val) { items.push(val) });
          obj['rule_ids'] = items;
          obj['action'] = action;

          $.ajaxSetup({
            headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() }
          });
          $.ajax({
            url: "{% url 'api:publish_customrule' %}",
            method: 'post',
            data: JSON.stringify(obj),
            dataType: 'json',
            success: function (data) {
              ruletable.ajax.reload();
            },
            error: function (data) {
              $.toast({
                title: 'Error performing action!',
                content: data.errors,
                type: 'error',
                delay: 5000
              });
            }
          });
        });
      }
    });

    // MAKE DEFAULT
    $(document).on('click', '#star-rule', function () {
      var rule = $(this).data('pk');
      bootbox.confirm("Make selected rule as default?", function (result) {
        $.ajaxSetup({
          headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() }
        });

        $.ajax({
          url: "{% url 'api:default_customrule' id=123 %}".replace(/123/, rule),
          method: 'post',
          dataType: 'json',
          success: function (data) {
            ruletable.ajax.reload();
          },
          error: function (data) {
            $.toast({
              title: 'Error performing action!',
              content: data.errors,
              type: 'error',
              delay: 5000
            });
          }
        });
      })
    });

  });
</script>
{% endblock javascript %}
